 <div class="row">
	<div class="col-md-4 col-xs-12">
		<div class="white-box">
			<div class=""> <img width="100%" alt="user" src="{{url('<front>')}}sites/default/files/avatar/male.jpg"> </div>
			<div class="user-btm-box">
				<!-- .row -->
				<div class="row text-center m-t-10">
					<div class="col-md-6 b-r"><strong>Name</strong>
						<p>Sumeet Biswal</p>
					</div>
					<div class="col-md-6"><strong>Designation</strong>
						<p>ITA</p>
					</div>
				</div>
				<!-- /.row -->
				<hr>
				<!-- .row -->
				<div class="row text-center m-t-10">
					<div class="col-md-6 b-r"><strong>Email ID</strong>
						<p>sumeet.biswal@preqube.com</p>
					</div>
					<div class="col-md-6"><strong>EMPID</strong>
						<p>1364945</p>
					</div>
				</div>
				<!-- /.row -->
				<hr>
				<!-- .row -->
				<div class="row text-center m-t-10">
					<div class="col-md-12"><strong>Address</strong>
						<p>Jagannath Nagar,Rasulgarh, Bhubaneswar
							<br/> Odisha, India.</p>
					</div>
				</div>
				<hr>
				<!-- /.row -->
			</div>
		</div>
	</div>
	<div class="col-md-8 col-xs-12">
				   <blockquote class="white-box box">
                                         <h3 class="box-title">Personal Info <div class="pull-right">
				<a href="#"><i class="mdi mdi-pencil-circle" title="" style="font-size: x-large;"data-toggle="tooltip" data-original-title="Edit"></i></a> 
			</div> </h3>
                                            <hr class="m-t-0 m-b-40">

											<div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Father:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static">Sumeet Biswal</span>
                                                        </div>
                                                    </div>
                                                </div>
											</div>
											<div class="row">
												<div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Mother:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static"> Pratap Kumar Biswal </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="row">
												<div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Gender:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static"> Male </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="row">
												<div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Birth On:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static"> 25-06-1989 </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="row">
												<div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Marital:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static"> Single </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="row">
												<div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Blood:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static"> O+ </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="row">
												<div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Religion:</label>
                                                        <div class="col-md-9">
                                                            <span class="form-control-static"> Hindu </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
									</blockquote>
			
			
	</div>
</div>